<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%highlight(%-5level %logger{15})) - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="galois.test" level="INFO"/>
<!--    <logger name="galois.llm" level="ERROR"/>-->
<!--    &lt;!&ndash;<logger name="galois.optimizer" level="DEBUG"/>&ndash;&gt;-->
<!--    <logger name="galois.parser" level="DEBUG"/>-->
<!--    <logger name="galois.parser.ParserProvenance" level="INFO"/>-->
<!--    <logger name="galois.parser.ParserWhere" level="INFO"/>-->
<!--    <logger name="galois.optimizer.optimizations" level="DEBUG"/>-->
<!--    &lt;!&ndash;<logger name="speedy.model.algebra.operators.EvaluateExpression" level="DEBUG"/>&ndash;&gt;-->
<!--    &lt;!&ndash;<logger name="speedy.model.database.operators.mainmemory.ImportCSVFileMainMemory" level="DEBUG"/>&ndash;&gt;-->
<!--    &lt;!&ndash;<logger name="speedy.persistence.DAOMainMemoryDatabase" level="DEBUG"/>&ndash;&gt;-->
<!--    &lt;!&ndash;<logger name="speedy.model.algebra.operators.sql.SQLCreateTable" level="DEBUG"/>&ndash;&gt;-->
<!--    <logger name="galois.llm.algebra.LLMScan" level="ERROR"/>-->
<!--    <logger name="galois.optimizer.estimators.ConfidenceEstimator" level="INFO"/>-->
<!--    &lt;!&ndash;<logger name="galois.llm.models.TogetherAIModel" level="TRACE"/>&ndash;&gt;-->
<!--    &lt;!&ndash;<logger name="galois.llm.models.DataProb" level="DEBUG"/>&ndash;&gt;-->
<!--    <logger name="galois.llm.query.AbstractKeyBasedQueryExecutor" level="TRACE"/>-->
<!--    <logger name="galois.llm.query.AbstractEntityQueryExecutor" level="TRACE"/>-->
<!--&lt;!&ndash;    <logger name="galois.llm.query.togetherai.llama3" level="DEBUG"/>&ndash;&gt;-->
<!--    <logger name="galois.llm.query.togetherai.llama3.TogetheraiLLama3KeyQueryExecutor" level="DEBUG"/>-->
<!--    <logger name="galois.llm.query.togetherai.llama3.TogetheraiLlama3KeyScanQueryExecutor" level="DEBUG"/>-->
<!--&lt;!&ndash;    <logger name="galois.llm.models.TogetherAIEmbeddingModel" level="TRACE"/>&ndash;&gt;-->
<!--    <logger name="galois.test" level="DEBUG"/>-->
<!--    <logger name="galois.llm.query" level="DEBUG"/>-->


</configuration>