<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%highlight(%-5level %logger{15})) - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="EXP-FILE" class="ch.qos.logback.core.FileAppender">
        <file>/Users/Shared/Work/floq/logs/debug-exp-${bySecond}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="WARN">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="floq.llm" level="ERROR"/>
    <logger name="floq.test" level="INFO"/>
    
<!--    <logger name="floq.utils.FLOQDebug" level="TRACE" additivity="false">-->
<!--        <appender-ref ref="EXP-FILE"/>-->
<!--    </logger>-->

</configuration>